<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="sgen.sgen_pourney"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="18"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name="sgen.application.PourneyApplication"
        android:allowBackup="true"
        android:icon="@drawable/i_logo_icon"
        android:label="@string/app_name"
        android:theme="@style/CustomTitle" >
        <activity
            android:name="sgen.sgen_pourney.LoginActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="sgen.sgen_pourney.TravelInfoActivity"
            android:label="@string/title_activity_travel_info" >
        </activity>
        <activity
            android:name="sgen.sgen_pourney.AskActivity"
            android:label="@string/title_activity_ask"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="sgen.sgen_pourney.CoverActivity"
            android:label="@string/title_activity_cover" >
        </activity>
        <activity
            android:name="sgen.sgen_pourney.DrawerActivity"
            android:label="@string/title_activity_drawer"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/app_id" />

        <activity
            android:name="com.facebook.LoginActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="sgen.sgen_pourney.JoinActivity"
            android:label="@string/title_activity_join" >
        </activity>
        <activity
            android:name="sgen.android.photoput.PhotoputActivity"
            android:label="@string/title_activity_photoput" >
        </activity>
        <activity
            android:name="sgen.sgen_pourney.VideoMakingActivity"
            android:label="@string/title_activity_video" >
        </activity>
        <activity
            android:name="sgen.sgen_pourney.ProfileModi"
            android:label="@string/title_profile_modi" >
        </activity>
        <activity android:name="sgen.android.multigallery.CustomGalleryActivity" >
            <intent-filter>
                <action android:name="luminous.ACTION_PICK" />
                <action android:name="luminous.ACTION_MULTIPLE_PICK" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="sgen.android.multigallery.MainActivity" >
        </activity>
    </application>

</manifest>